
/* regole base */
body {
  min-width: 310px;
  padding-top: 70px;
}


a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

input::placeholder {
font-size: 17px;
}
/* end regole base */


/* classi generali */
.ms_white-title{
  color: white;
  font-weight: bolder;
}
.ms_login-btt {
  background-color: white;
  color: #539be7;
  border-color: #539be7;
  font-size: 15px;
}

.ms_burger {
  line-height: 80px;
  text-align: right;

}
.ms_btn-form {
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

.ms_form-control:focus {
  box-shadow: none;
}
.ms_btn-form:hover {
  background-color: #f6ab6d;
  border: none;
}

.ms_btn-blue {
  background-color: #559afc;
}
.ms_btn-white {
  background-image: url(../img/google-icon.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  background-color: white;
  color: #000;
  border: .1px solid lightgrey;

}
/* end classi generali */

/* sezioni generali */

/* end sezioni generali */



/* !!HEADER */

/*  NAV */
header .ms_top-nav {
  background-color: white;
  height: 70px
}
.ms_top-nav .ms_menu li {
  line-height: 60px;
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 400;

}
.ms_top-nav .ms_menu li a:hover {
  color: #539be7;
}
.ms_top-nav .ms_menu li a {
  font-size: 16px;

}
.ms_top-nav .ms_logo {
  line-height: 60px;


}
.ms_top-nav .ms_logo img {
  max-width: 150px;
  height: auto;


}
.ms_top-nav .ms_burger i {
  font-size: 17px;
  color: #539be7;

}
/* JUMBO */
header .ms_jumbo {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: contain;
  background-position: -50px 20px;
}
.ms_jumbo .ms_form {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.ms_jumbo .ms_form h2:nth-of-type(2){
  color: #006afb;
}
/* prova */
.ms_button p {
  padding: 10px 0;
  font-size: 11px;
  font-weight: 400;
}
.ms_button a {
  text-decoration: underline;
  color: blue;
}
/* prova */
.ms_google-icon {
  position: absolute;
  padding-left: 0;
}
/* prova */

.ms_teaser p{
  color: #a3bbfa;
  font-weight: 400;
}
/* !! END HEADER */

/* main */
.ms_brand-list .ms_item-logo{
  width: calc(100%/7);
  height: auto;
}
.ms_brand-list .ms_item-logo img {
  width: 100%;
  height: auto;
}
/* end main */

/* footer */
/* end footer */


/* media query */
/*  xs<SM<md */
@media screen and (max-width:991px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .ms_jumbo .ms_teaser .ms_white-title h1 {
  font-size: 58px;
  }
  .ms_jumbo .ms_teaser p {
    font-size: 24px;
  }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
  .ms_jumbo .ms_teaser .ms_white-title h1 {
  font-size: 46px;
  }

}


/* end media query */
