
/* regole base */
body {
  min-width: 310px;
}


a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}


/* end regole base */


/* classi generali */
.ms_white-title{
  color: white;
  font-weight: bolder;
}
.ms_login-btt {
  background-color: white;
  color: #539be7;
  border-color: #539be7;
  font-size: 15px;
}

.ms_burger {
  line-height: 80px;
  text-align: right;

}
.ms-btn-form {
  padding: 4px 10px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
}
.ms_btn-blue {
  background-color: #559afc;
}
/* end classi generali */

/* sezioni generali */

/* end sezioni generali */



/* !!HEADER */

/*  NAV */
header .ms_top-nav {
}
.ms_top-nav .ms_menu li {
  line-height: 80px;
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 400;

}
.ms_top-nav .ms_menu li a:hover {
  color: #539be7;
}
.ms_top-nav .ms_menu li a {
  font-size: 16px;

}
.ms_top-nav .ms_logo {
  line-height: 80px;


}
.ms_top-nav .ms_logo img {
  max-width: 150px;
  height: auto;


}
.ms_top-nav .ms_burger i {
  font-size: 17px;
  color: #539be7;

}
/* JUMBO */
header .ms_jumbo {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
}
.ms_jumbo .ms_form {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.ms_jumbo .ms_form h2:nth-of-type(2){
  color: #006afb;
}
/* prova */

/* prova */

.ms_teaser p{
  color: #a3bbfa;
  font-weight: 400;
}
/* !! END HEADER */

/* main */
/* end main */

/* footer */
/* end footer */


/* media query */
/* end media query */
